.navbar-brand {
    color: blueviolet;
    font-size: 1.8 rem;
    margin-right: 2.2 rem;
}

.my-active .nav-link {
    color: rgba(0, 0, 0, 0.7);
}

li.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

.collapse li.nav-item {
    margin-bottom: 5px;
}

.my-active, li.nav-item:hover {
    border-radius: 5px;
    background-color: #fff;
}
