.form-wrapper {
    background-color: beige;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 800px;
}

.header-image {
    background-image: url(../../../assets/images/lottery_avatar.jpg);
    background-size: cover;
}

.form-card {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.mat-card-title {
    font-size: x-large;
}

.mat-card-header {
    justify-content: center;
}