/* general styles */
html, body {
    height: 100%;
    width: 100%;
  }
  /* padded section */
  .pad-section {
    padding: 50px 0;
  }
  .pad-section img {
    width: 100%;
  }
  /* vertical-centered text */
  .text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  /* additional sections */
  #home {
    background: url(../../assets/images/home.jpg) no-repeat center center fixed;
    display: table;
    height: 500px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #home a, #home h1, #home h3 {
    color:white;
  }
  #social-info {
    background-color: #e3f2fd;
    color: #ffffff;
  }
  #social-info .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
  }
  #information {
    background: url(../../assets/images/estate.jpg) no-repeat center center fixed;
    display: table;
    height: 500px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #information .panel {
    opacity: 0.85;
  }  
  footer {
    padding: 20px 0;
  }
  footer .glyphicon {
    color: #333333;
    font-size: 60px;
  }
  footer .glyphicon:hover {
    color: #306d9f;
  }
  h2.panel-title a, .panel-body {
    color: gold;
  }
  #twitter{
    float: left;
    margin: 0 auto;
  }
